<div class="container">
  <h1>Welcome to my app</h1>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Est nesciunt adipisci, architecto cum, a provident velit nulla. Mollitia, esse excepturi quaerat illo optio ratione voluptatum! Blanditiis, voluptates! Vitae sapiente maiores, alias odio, dolor, at dolorum atque quis consequuntur culpa tempora soluta mollitia ullam veniam nostrum neque officia fuga impedit laborum ut nemo recusandae, aliquid! Cum sint repudiandae magnam omnis vitae rem eos harum illum, nulla quibusdam est sequi voluptatem molestias recusandae impedit autem dolorem. Nulla, hic quod nesciunt alias facilis officia est doloremque quia reiciendis magni illo numquam sit accusantium, repellat itaque error ex quisquam quasi provident? Earum numquam, reprehenderit?</p>
  <%= link_to "Find out more", "#", class: 'btn btn-success' %>
</div>
